/*
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
- Green: hsl(75, 94%, 57%)
- White: hsl(0, 0%, 100%)
- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)

### Body Copy
- Font size (paragraph): 14px

### Font
- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 600, 700

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);

  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  background-color: hsl(0, 0%, 12%);
  padding: 30px 40px;
  border-radius: 16px;
}

.social-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;

  margin: 20px 0;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 28px;
}

.location {
  margin: 5px 0 20px 0;
  font-size: 14px;
  font-weight: 700;
  color: hsl(75, 94%, 57%);
}

.position {
  font-size: 14px;
  font-weight: 200;
  color: hsl(0, 0%, 100%);
  margin-bottom: 25px;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-btn {
  display: flex;
  background-color: hsl(0, 0%, 20%);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s;
}

.social-btn a {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
}

.social-btn a:hover {
  border-radius: 8px;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution {
  color: hsl(0, 0%, 20%);
  font-size: 11px;
  text-align: center;
  margin-top: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
